* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  background-image: url("./assets/bg.png");
  background-repeat: no-repeat;
  background-position: 60%;
  background-size: cover;
  color: white;
  font-family: Poppins;
}

button,
a {
  cursor: pointer;
}

a,
li {
  list-style: none;
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
  background: #000000; /* Color of the track */
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
 }
 
 /* For Firefox */
 html {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #00000001 #00000001; /* thumb and track */
 }